*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #000000;
}

.contNombre{
	width: auto;
	height: auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	flex-direction:row; 
	flex-wrap: wrap;

	justify-content: flex-start; 
	align-items: baseline;

}
.Easygame{
	color: #F0FFFF;
}

.contenedor{
	width: auto;
	height: auto;
	background: #000000;
	padding:  2px;
	border:  1px solid #008000;
	margin: 10px;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	flex-direction:row; 
	flex-wrap: wrap;

	justify-content: flex-end; 

	align-items: baseline;

}


.Inicio{
	color: #fff;
	margin: autp;
	width:  auto;
	background: #4682B4;
	display: inline-block;
	width: 70px;
	text-align: center;

}
.Juegos{

	color: #fff;
	margin: 10px;
	flex-basis: :  60px; /*width sino sinonimo*/
	background: #4682B4;
	display: inline-block;
	width: 70px;
	text-align: center;

}

.Consolas{
	color: #fff;
	margin: 10px;
	background: #4682B4;
	display: inline-block;
	width: 70px;
	text-align: center;

}

.Tutoriales{
	color: #fff;
	margin: 10px;
	width:  60px;
	background: #4682B4;
	display: inline-block;
	width: 70px;
	text-align: center;

}

.Contacto{
	color: #fff;
	margin: 10px;
	width:  60px;
	background: #4682B4;
	display: inline-block;
	width: 70px;
	text-align: center;

}
.Datos{
	color: #fff;
	margin: 10px;
	height: auto;
	background: #000000;
	display: inline-block;
	width: auto;
	text-align: center;
	flex-direction: column;

	}

.Eleme{

	flex-wrap: wrap;
	color: #fff;
	margin: 10px;

	height: auto;
	background: #000000;
	display: inline-block;
	width: auto;
	text-align: center;
	flex-direction: column;
}

.Abajo{
	width: auto;
	height: auto;
	padding:  2px;
	margin: 10px;

	background: #000000;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	flex-wrap: wrap;

	justify-content: center; 
	align-items: baseline;

}

.ContJuegos{
	width: auto;
	height: auto;
	background: #000000;
	align-items: center;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	flex-wrap: wrap;

	justify-content: space-around;

}
